<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="easydone.feature.feed">

    <dist:module
        dist:instant="false"
        dist:title="Feed">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">
        <provider
            android:name=".ServiceProvider"
            android:authorities="${applicationId}.feed"
            android:exported="false" />
    </application>

</manifest>
