<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="easydone.activity">

    <application>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".TransparentActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/Theme.AppCompat.Translucent"
            android:windowSoftInputMode="stateAlwaysVisible|adjustNothing" />
    </application>

</manifest>
